html{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:'noto-sans',sans-serif;

}

*,*::before, *::after{
  box-sizing: inherit;
}
ol {
  list-style-type: none;
  background-color:#222222;
}

header {
  background-color:#e7001d;
  text-align: center;
  padding: 2em 0 1em 0;
  position: relative;
}

body {
  margin:0;
  padding:0;
}

h1{
  margin:0;
  padding: 1em;
  color: white;
  text-shadow: 2px 2px 6px black;
  position: absolute;
  width:100%;
  top: 40px;
  font-size: .90em;
}

.symbol{
  width: 100%;
  display: block;
  font-size: 3em;
  top: 20em;
}

.medallion{
  width: 100px;
  height: 100px
}

main{
  background-color: black;
  float: left;
  /*width: calc(75% - 2rem);*/
  width: 75%;
  padding: 2em 0 1em 2em;
  font-family:'noto-sans',sans-serif;
  font-weight: bold;
  color: white;

}

aside{
  background-color: black;
  float: left;
  /*width: calc(25% - 2rem);*/
  width: 50%;
  padding: 2em 0 1em 0;
  font-family:'noto-sans',sans-serif;
  font-weight: bold;
  color: white;
  }

.banner {
    position: relative;
    text-align: center;
    font-size: 2rem;
    max-height: 75vh;
    overflow: hidden;
    clear: left;
  }

.banner-content{
    position: absolute;
    bottom: 1em;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);

  }

.banner img{
    width: 100%;
  }

  .banner-content h2,
  .banner-content p{
    margin:0;
    position: relative;
  }

  .dragon-symbol {
    float:left;
    width:40%;
    margin-right: 15px;
  }

  .dragon {
    float:right;
    width:40%;
    margin-right: 15px;
  }

.dragon-p{
  clear: both;
}

.goat-symbol {
  float:left;
  width:40%;
  margin-right: 15px;
}

.goat {
  float:right;
  width:40%;
  margin-right: 15px;
}

.goat-p{
clear: both;
}

.rooster-symbol {
  float:left;
  width:40%;
  margin-right: 15px;
}

.rooster {
  float:right;
  width:40%;
  margin-right: 15px;
}

.rooster-p{
clear: both;
}

.ox-symbol {
  float:left;
  width:40%;
  margin-right: 15px;
}

.ox {
  float:right;
  width:40%;
  margin-right: 15px;
}

.ox-p{
clear: both;
}

.zodiac-yellow {
  background: #e4c22a;
  padding: 1em;
}

.zodiac-black {
  background: #222222;
  padding: 1em;
}

.zodiac-red {
  background: #bc0017;
  padding: 1em;
}

.zodiac-yellow {
  background: #e4c22a;
  padding: 1em;
}

h3 {
  margin: 0;
  padding: 0;
}
